# NYC Legally Operating Business License Data Explorer

Original dataset can be found at https://data.cityofnewyork.us/Business/Legally-Operating-Businesses/w7w3-xahh

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pylab as plt
import math
import seaborn as sns

pd.options.mode.chained_assignment = None
%matplotlib inline

In [100]:
#For CSV files
data = pd.read_csv('data/Legally_Operating_Businesses.csv')

'''        
#For XLS spreadsheet files
xls_file = pd.ExcelFile("data/Annualized Rolling Sales/2009_bronx.xls")
print(xls_file.sheet_names)
data = xls_file.parse(xls_file.sheet_names[0])
'''

'        \n#For XLS spreadsheet files\nxls_file = pd.ExcelFile("data/Annualized Rolling Sales/2009_bronx.xls")\nprint(xls_file.sheet_names)\ndata = xls_file.parse(xls_file.sheet_names[0])\n'

In [101]:
#data = data[data['Borough Code'] == 1.0]

#convert dates
data['License Expiration Date'] = pd.to_datetime(data['License Expiration Date'])

data['License Creation Date'] = pd.to_datetime(data['License Creation Date'])

print(data.shape)
data.head()

(132518, 27)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,2029813-DCA,Individual,2018-03-31,Inactive,2015-10-26,Sightseeing Guide,"WILLIAMS, MONIQUE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2068796-DCA,Individual,2020-03-31,Active,2018-04-03,Sightseeing Guide,"Chung, Yeon",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1235988-DCA,Business,2021-02-28,Active,2006-08-15,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,412.0,27.0,4000000.0,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)"
3,1453298-DCA,Individual,2019-05-31,Active,2013-01-07,Locksmith,"RAO, GARY PETER",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0993026-DCA,Individual,2015-09-30,Inactive,2013-05-06,General Vendor,"BARCLAY, WES",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
list(data.columns)

['DCA License Number',
 'License Type',
 'License Expiration Date',
 'License Status',
 'License Creation Date',
 'Industry',
 'Business Name',
 'Business Name 2',
 'Address Building',
 'Address Street Name',
 'Secondary Address Street Name',
 'Address City',
 'Address State',
 'Address ZIP',
 'Contact Phone Number',
 'Address Borough',
 'Borough Code',
 'Community Board',
 'Council District',
 'BIN',
 'BBL',
 'NTA',
 'Census Tract',
 'Detail',
 'Longitude',
 'Latitude',
 'Location']

# Date Range of Data

In [103]:
#date range of data
print('Earliest creation date: %s' % min(data['License Creation Date']))
print('Latest creation date: %s' %max(data['License Creation Date']))
print('')
print('How can a license already be created in the future? It looks like the data was entered incorrectly, because it should be impossible for the expiration date to be earlier than the creation data.')
data.loc[data['License Creation Date']=='2019-02-28']

Earliest creation date: 1977-01-24 00:00:00
Latest creation date: 2019-02-28 00:00:00

How can a license already be created in the future? It looks like the data was entered incorrectly, because it should be impossible for the expiration date to be earlier than the creation data.

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
11303,1221515-DCA,Individual,2015-02-28,Inactive,2019-02-28,Home Improvement Salesperson,"JOSEPH, CARL",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
#date range of data
print('Earliest expiration date: %s' % min(data['License Expiration Date']))
print('Latest expiration date: %s' %max(data['License Expiration Date']))

Earliest expiration date: 2015-01-01 00:00:00
Latest expiration date: 2021-03-31 00:00:00

### It looks like this dataset does not contain any info about businesses that closed prior to January 1st 2015. :(

In [106]:
# filter out business that have likely incorrect creation and expiration dates
data=data.loc[data.loc[:,'License Expiration Date']>data.loc[:,'License Creation Date']]

data.shape

(132503, 27)

<p>
    DCA offers two license types:<br>
Business - License is issued to an entity/organization based on their address.<br>
Individual - License is issued to an individual person
    </p>

In [107]:
#looking at individual business listings
indivData=data.loc[data.loc[:,'License Type']=='Individual']

indivData.head()

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
0,2029813-DCA,Individual,2018-03-31,Inactive,2015-10-26,Sightseeing Guide,"WILLIAMS, MONIQUE",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2068796-DCA,Individual,2020-03-31,Active,2018-04-03,Sightseeing Guide,"Chung, Yeon",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1453298-DCA,Individual,2019-05-31,Active,2013-01-07,Locksmith,"RAO, GARY PETER",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0993026-DCA,Individual,2015-09-30,Inactive,2013-05-06,General Vendor,"BARCLAY, WES",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1392336-DCA,Individual,2019-02-28,Active,2011-05-17,Home Improvement Salesperson,"ROGOWSKI, SEBASTIAN",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### I'm removing the individual licenses, because they do not contain location info.

In [108]:
busiData=data.loc[data.loc[:,'License Type']!='Individual']

print(busiData.shape)
busiData.head()

(85483, 27)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
2,1235988-DCA,Business,2021-02-28,Active,2006-08-15,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,412.0,27.0,4000000.0,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)"
6,2078970-DCA,Business,2019-12-31,Active,2018-10-10,Laundries,KANG LE LAUNDROMAT INC,NaN,2081,FLATBUSH AVE,...,318.0,45.0,3337384.0,3078680002,BK58,650.0,Sub-License Type: Retail Laundry,-73.932940,40.619039,"(40.61903874185033, -73.93294011345556)"
7,1292105-DCA,Business,2019-01-31,Active,2008-07-11,Debt Collection Agency,"MRS BPO, L.L.C.",MRS ASSOCIATES,1930,OLNEY AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1181090-DCA,Business,2019-02-28,Active,2004-09-27,Home Improvement Contractor,KNC CONTRACTING CORP.,NaN,70,E SAINT MARKS PL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2025388-DCA,Business,2021-02-28,Active,2015-07-08,Home Improvement Contractor,MKINNOVATION CONSTRUCTION LLC,NaN,365,COLONY AVE,...,502.0,50.0,5055161.0,5038880043,SI45,11202.0,NaN,-74.094751,40.569830,"(40.569829685193596, -74.09475125855013)"

Looking at inactive business and comparing them to their expiration date to understand if status is a reflection of the business actually operating or just the expired license.

### It looks like License Status is a possibly good indicator of what businesses did go out of business, though its not conclusive

In [98]:
statusData=busiData.loc[busiData.loc[:,'License Status']=='Inactive']

#Businesses that closed before their license expired
outOfBusiness=statusData.loc[statusData.loc[:,'License Expiration Date']>'2018-11-19']
print(outOfBusiness.shape)
outOfBusiness.head()

(2672, 27)

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Community Board,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location
44,2059487-DCA,Business,2019-12-31,Inactive,2017-10-17,Laundries,NEW LUO'S LAUNDRY & DRY CLEANER INC.,NaN,262,W 22ND ST,...,104.0,3.0,1014096.0,1007710072,MN13,87.0,Sub-License Type: Retail Laundry,-73.997820,40.744132,"(40.74413205709129, -73.99782026005728)"
275,2034817-1-DCA,Business,2019-12-31,Inactive,2016-03-23,Tobacco Retail Dealer,BAISLEY GAS AND STORE INC,NaN,16807,BAISLEY BLVD,...,412.0,27.0,4268385.0,4123850225,QN76,284.0,NaN,-73.775359,40.680273,"(40.68027274425176, -73.77535902034259)"
419,1043343-DCA,Business,2019-12-31,Inactive,2000-11-13,Tobacco Retail Dealer,"RODRIGUEZ, BRUNILDA",SUPERIOR MARKET,628,MORRIS AVE,...,201.0,17.0,2001870.0,2024110006,BX34,67.0,NaN,-73.921932,40.819180,"(40.819179630344394, -73.92193221430803)"
522,2022297-2-DCA,Business,2018-12-31,Inactive,2015-05-06,Tobacco Retail Dealer,147 SPICY DELI INC,NaN,2546,ADAM CLAYTON POWELL JR BLVD,...,110.0,9.0,1060536.0,1020330033,MN03,234.0,NaN,-73.937941,40.823210,"(40.823210369930536, -73.93794088097954)"
568,2078943-DCA,Business,2020-09-15,Inactive,2018-10-10,Sidewalk Cafe,4902 SKILLMAN CAFE LLC,P.J. HORGAN'S,4902,SKILLMAN AVE,...,402.0,26.0,4001159.0,4001340025,QN31,25301.0,"Sidewalk Cafe Type: Unenclosed, Square Feet: 3...",-73.915081,40.746222,"(40.746222464569044, -73.91508129434922)"

# Duplicate Entries?

In [149]:
dupData = busiData

print('There are %d rows after previous filtering' %dupData.shape[0])

print('There are %d duplicated rows' %(dupData.shape[0] - dupData.drop_duplicates().shape[0]))

print('There are %d duplicated License Numbers' %(dupData['DCA License Number'].shape[0] - dupData['DCA License Number'].drop_duplicates().shape[0]))

print('There are %d duplicated Business Names' %(dupData['Business Name'].shape[0] - dupData['Business Name'].drop_duplicates().shape[0]))

#need to filter out NaN before checking Business Name 2 Duplicates
#print('There are %d duplicated Business Name 2s' %(dupData['Business Name 2'].shape[0] - dupData['Business Name 2'].drop_duplicates().shape[0]))

There are 85483 rows after previous filtering
There are 0 duplicated rows
There are 2 duplicated License Numbers
There are 21301 duplicated Business Names

### Do businesses share a location?

In [150]:
dupData['String Addr'] = dupData.loc[:,'Address Building']+ " " + dupData.loc[:,'Address Street Name']

dupData.head()

,DCA License Number,License Type,License Expiration Date,License Status,License Creation Date,Industry,Business Name,Business Name 2,Address Building,Address Street Name,...,Council District,BIN,BBL,NTA,Census Tract,Detail,Longitude,Latitude,Location,String Addr
2,1235988-DCA,Business,2021-02-28,Active,2006-08-15,Home Improvement Contractor,"JUNIOR'S IRONWORK & CONSTRUCTION, INC.",NaN,16927,LIBERTY AVE,...,27.0,4000000.0,4102180032,QN61,444.0,NaN,-73.788915,40.703297,"(40.70329689832498, -73.78891454010119)",16927 LIBERTY AVE
6,2078970-DCA,Business,2019-12-31,Active,2018-10-10,Laundries,KANG LE LAUNDROMAT INC,NaN,2081,FLATBUSH AVE,...,45.0,3337384.0,3078680002,BK58,650.0,Sub-License Type: Retail Laundry,-73.932940,40.619039,"(40.61903874185033, -73.93294011345556)",2081 FLATBUSH AVE
7,1292105-DCA,Business,2019-01-31,Active,2008-07-11,Debt Collection Agency,"MRS BPO, L.L.C.",MRS ASSOCIATES,1930,OLNEY AVE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1930 OLNEY AVE
8,1181090-DCA,Business,2019-02-28,Active,2004-09-27,Home Improvement Contractor,KNC CONTRACTING CORP.,NaN,70,E SAINT MARKS PL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70 E SAINT MARKS PL
13,2025388-DCA,Business,2021-02-28,Active,2015-07-08,Home Improvement Contractor,MKINNOVATION CONSTRUCTION LLC,NaN,365,COLONY AVE,...,50.0,5055161.0,5038880043,SI45,11202.0,NaN,-74.094751,40.569830,"(40.569829685193596, -74.09475125855013)",365 COLONY AVE

In [152]:
print('There are %d duplicated street addresses' %(dupData['String Addr'].shape[0] - dupData['String Addr'].drop_duplicates().shape[0]))

There are 32423 duplicated street addresses